# Build outputs
/gtestresults.xml
/protobufutil_test
/libprotobufutil.a
/vendor/

# CMake artifacts
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
CMakeScripts
Debug
protobufutil.build
protobufutil.xcodeproj

# IDE cruft
.idea
*.iml
*.swp
