/gtestresults.xml
/protobufutil_test
/libprotobufutil.a
/vendor/
*.swp

# CMake artifacts
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
CMakeScripts
Debug
protobufutil.build
protobufutil.xcodeproj
